{% extends 'base.html' %}
{% block site_title %}<title>Main page</title>{% endblock %}
{% block content %}
    <div class=''>
      <h1>Привет!</h1>
      <h1>Меня зовут</h1>
      <h1 class="top__heading">Бексултан</h1>
      <p class="top__text">Добро пожаловать на мою страницу</p>
    </div>
    <img class="w-75"src="images/about-photo.png" alt="my photo">
    <div class="about" id="about">
      <h2 class="heading">Еще раз привет!</h2>
      <p class="text">Я начинающий разработчик на Python и это мой первый сайт. Я живу и учусь в Оше, в свободное время играю в компьютерные игры и гуляю с друзьями.</p>
    </div>
    <div class="why">
      <h2 class="heading">Почему мне нравится программировать?</h2>
      <div class="">

        <p class="text">С помощью программирования я могу создавать полезные сайты и делать мир удобнее.</p>

      </div>
      <div class="">

        <p class="text">В программировании ты сразу видишь результат своих усилий.</p>

      </div>
   <div class="">
 <p class="text">В программировании много интересных задач, никогда не соскучишься!</p>
 </div>
 </div>
 <hr>

{% endblock %}